
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border: 1px solid;
    height: 100px;
    cursor: pointer; 
}
.otp{
    display: flex;
}
.inp{
    display: flex;

}