

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border: 1px solid;
    height: 100px;
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
}
.col:active {
    transform: scale(0.9);
}
.otp{
    display: flex;
}
.inp{
    display: flex;

}

footer {
    background: #2c3e50; /* Dark navy for contrast */
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
